:root {
    font-size: 16px;
}
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    /* helps to make sure things aren't covered when scrolling */
}
body {
    padding: 0;
    margin: 0;
}